<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- Navbar burger -->
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <!-- Navbar items -->
    <%= link_to 'Home', root_path, class: "navbar-item" %>
    <%= link_to 'Shoes', shoes_path, class: "navbar-item" %>
    <%= link_to 'Brands', brands_path, class: "navbar-item" %>

    <div class="navbar-item">
      <% if user_signed_in? %>
        <a href="<%= cart_path(current_user.id) %>" class="navbar-item">
          Cart
          <span class="tag is-primary">
            <%= session[:shopping_cart].length %>
          </span>
        </a>
        <a href="<%= orders_path %>" class="navbar-item">
          Orders
        </a>
      <% end %>
    </div>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        More
      </a>

      <div class="navbar-dropdown">
        <%= link_to 'About', about_path, class: "navbar-item" %>
        <%= link_to 'Contact', contact_path, class: "navbar-item" %>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <p>Hi, <%= current_user.first_name %>!</p>
            <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'ml-5 button is-danger' %>
          <% else %>
            <%= button_to 'Sign Up', new_user_registration_path, method: :get, class: 'button is-info' %>
            <%= button_to 'Login', new_user_session_path, method: :get, class: 'ml-3 button is-info' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {
            const target = $el.dataset.target;
            const $target = document.getElementById(target);

            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>
</nav>
